pip~=24.2
attrs~=23.2.0
pillow~=10.3.0
certifi~=2024.2.2
fastapi~=0.111.0
uvicorn~=0.29.0
telebot~=0.0.5
psutil~=6.0.0
ujson~=5.9.0
requests~=2.31.0
aioredis~=2.0.1
aiohttp~=3.9.5
typing_extensions~=4.11.0
urllib3~=2.2.1
greenlet~=3.0.3
idna~=3.7
SQLAlchemy~=2.0.30
bs4~=0.0.2
beautifulsoup4~=4.12.3